html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL CLASSES */

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  height: 100vh;
}

/* HEADER */

.header-container{
 width: 100%;
 position: absolute;
}

.header-container h1 {
  margin: 20px;
}

/* NAVIGATION */

.navbar-container{
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  flex-direction: row;
}

.navbar-container li {
  list-style-type: none;
  margin: 15px;
  text-align: center;
  float: left;
}

.navbar-container ul{
  display: block;
}

.main-container{
  position: relative;
}